

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RE-LAUNCH - About</title>
    <link rel="canonical" href="https://materialize-shopify-themes.myshopify.com/collections/fillscreen-style">

    <!-- Stylesheet -->
    <link href="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-materialize.min.css?v=6801316432905304896" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta property="og:site_name" content="Materialize Shopify Themes">
    <meta property="og:url" content="https://materialize-shopify-themes.myshopify.com/collections/fillscreen-style">
    <meta property="og:title" content="Fillscreen Style">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Materialize Shopify Themes">
    
    
    <meta name="twitter:site" content="@materializecss">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Fillscreen Style">
    <meta name="twitter:description" content="Materialize Shopify Themes">
    <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/17758583/digital_wallets/dialog">
<meta name="shopify-checkout-api-token" content="6aacc581eb2b41d74f03c38d3c985dba">
<meta id="in-context-paypal-metadata" data-shop-id="17758583" data-venmo-supported="true" data-environment="production" data-locale="en_US" data-paypal-v4="true" data-currency="USD">
<script id="apple-pay-shop-capabilities" type="application/json">{"shopId":17758583,"countryCode":"US","currencyCode":"USD","merchantCapabilities":["supports3DS"],"merchantId":"gid:\/\/shopify\/Shop\/17758583","merchantName":"Materialize Themes","requiredBillingContactFields":["postalAddress","email"],"requiredShippingContactFields":["postalAddress","email"],"shippingType":"shipping","supportedNetworks":["visa","masterCard","amex","discover","elo","jcb","chinaUnionPay"],"total":{"type":"pending","label":"Materialize Themes","amount":"1.00"},"shopifyPaymentsEnabled":true,"supportsSubscriptions":true}</script>
<script id="shopify-features" type="application/json">{"accessToken":"6aacc581eb2b41d74f03c38d3c985dba","betas":["rich-media-storefront-analytics"],"domain":"themes.materializecss.com","predictiveSearch":true,"shopId":17758583,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js","locale":"en"}</script>



<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 240px;
  }
}
</style>
</head>

  <body>

    <!-- Navbar -->
    <nav class="n bi">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="material-icons  left">home</i></a>
        <ul id="nav-mobile" class="ag hide-on-med-and-down">
          <li><a class="dropdown-button" href="#!" data-activates="pages" data-constrainWidth="false" data-belowOrigin="true">Pages<i class="material-icons ag">arrow_drop_down</i></a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/register">Register</a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
          <li><a class="g" href="/about"><i class="material-icons left">description</i>About</a></li>
          <li><a href="/announcements"><i class="material-icons left">announcement</i>Announcements</a></li>
          <li><a href="https://codewithshakyohttps://re-launch-ltd.blogspot.com//"><i class="material-icons left">art_track</i>Blog</a></li>
          <li><a href="/info"><i class="material-icons left">accessibility</i>Personal Info</a></li>
          <li><a href="/contact"><i class="material-icons left">message</i>Contact</a></li>
          <li><a href="/cv"><i class="material-icons">inbox</i>RESUME MAKER</a></li>
          <li><a href="/jobs"><i class="material-icons">local_atm</i>JOBS</a></li>
          <li><a href="/job_opports"><i class="material-icons">timeline</i>TRENDING JOBS</a></li>
          <li><a href="/edit_profile"><i class="material-icons left">account_box</i>Edit Profile</a></li>
          <li><a href="/change_password"><i class="material-icons left">enhanced_encryption</i>Change Password</a></li>
          <li><a href="/info"><i class="material-icons left">account_circle</i>Logged in as {{user.username}}</a></li>
          <li><a href="https://github.com/Shakyo-choudhury"><i class="material-icons left">code</i>github</a></li>
          <li><a href="https://www.instagram.com/codewithshakyo/"><i class="material-icons left">question_answer</i>instagram</a></li>
          <li><a href="https://www.youtube.com/channel/UCsTBIx1rTYG_zYJVCqJEfoA"><i class="material-icons left">youtube_searched_for</i>Subscribe for free!</a></li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse ag"><i class="material-icons black-text">menu</i></a>
      </div>
    </nav>
    <ul id="slide-out" class="side-nav">
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect waves-teal open">Pages</a>
            <div class="collapsible-body">
              <ul>
                <li><a class="g" href="/about"><i class="material-icons left">description</i>About</a></li>
          <li><a href="/announcements"><i class="material-icons left">announcement</i>Announcements</a></li>
          <li><a href="https://codewithshakyohttps://re-launch-ltd.blogspot.com//"><i class="material-icons left">art_track</i>Blog</a></li>
          <li><a href="/info"><i class="material-icons left">accessibility</i>Personal Info</a></li>
          <li><a href="/contact"><i class="material-icons left">message</i>Contact</a></li>
          <li><a href="/cv"><i class="material-icons">inbox</i>RESUME MAKER</a></li>
          <li><a href="/jobs"><i class="material-icons">local_atm</i>JOBS</a></li>
          <li><a href="/job_opports"><i class="material-icons">timeline</i>TRENDING JOBS</a></li>
          <li><a href="/edit_profile"><i class="material-icons left">account_box</i>Edit Profile</a></li>
          <li><a href="/change_password"><i class="material-icons left">enhanced_encryption</i>Change Password</a></li>
          <li><a href="/info"><i class="material-icons left">account_circle</i>Logged in as {{user.username}}</a></li>
          <li><a href="https://github.com/Shakyo-choudhury"><i class="material-icons left">code</i>github</a></li>
          <li><a href="https://www.instagram.com/codewithshakyo/"><i class="material-icons left">question_answer</i>instagram</a></li>
          <li><a href="https://www.youtube.com/channel/UCsTBIx1rTYG_zYJVCqJEfoA"><i class="material-icons left">youtube_searched_for</i>Subscribe for free!</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><a class="waves-effect waves-teal" href="//codewithshakyohttps://re-launch-ltd.blogspot.com//"><i class="material-icons white-text left">art_track</i>Blog</a></li>
      <li><a class="waves-effect waves-teal" href="/login"><i class="material-icons white-text left">account_box</i>Login</a></li>
      <li><a class="waves-effect waves-teal" href="/register"><i class="material-icons white-text left">account_circle</i>Register</a></li>
    </ul>

    <div class="gh v l valign-wrapper">
      <div class="c ci">
        <div class="d jt offset-s2 jo offset-m3 blog-title fade-transition">
          <h1>About RE-LAUNCH</h1>
          <span class="">SCROLL DOWN TO KNOW MORE</span>
        </div>
      </div>
    </div>

    <div class="v l full-height">
      <div class="c ci">
        <div class="d jt offset-s2 jo offset-m3 blog-body">
          <h4>What is RE-LAUNCH?</h4>

          <p>RE-LAUNCH is a start up based in India and it aims to help the youngsters and the working class folks to get a better Resumes and Portfolios. Alog with our portfolio repositories, we even offer a resume maker and you can even convert it into a PDF! Alog with that we even offer basic coding and developing seminars along with your basic pack purchase and if you want to advance you can purchase an advanced pack so that you can get benefited.</p>
          <img class="materialboxed db" src="https://github.com/sanjay141516/images/blob/main/image.png?raw=true" alt="">

          <div class="eh"></div>

          <h4>Who are we?</h4>
          <p>RE-LAUNCH comprises of three core members -  <a href ="https://www.instagram.com/sanjay_14_15/">Sanjay</a>, <a href = "https://www.instagram.com/xryxn69/">Aryan</a> and <a href = "https://www.instagram.com/codewithshakyo">Shakyo</a>.
             </p>

          <img class="materialboxed db" src="https://cdn.analyticsvidhya.com/wp-content/uploads/2021/06/65234datascience-pdusit-stock.jpg" alt="">

          

          

        <div class="d jt offset-s2 jo offset-m3 blog-author">
          <div class="eh"></div>

          <div class="avatar-wrapper">
            <div class="k">
              <img src="https://github.com/sanjay141516/images/blob/main/image.png" alt="">
            </div>
          </div>

          <div class="gr">
            <span>Author</span>
            Team RE-LAUNCH
          </div>

          <div class="ei">
            <span>2022</span>
            May 3
          </div>

          <div class="eh"></div>
        </div>

        
      </div>
    </div>

    <!-- Footer -->
    

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-all-min.js?v=3413361328181621882" crossorigin="anonymous"></script>

  </body>
</html>