<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Opportunities | RE-LAUNCH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10" src="https://github.com/sanjay141516/images/blob/main/image.png?raw=true">
            </svg>
            <span class="ml-3 text-xl">codewithshakyo</span>
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-white" href = '/'>Home</a>
            <a class="mr-5 hover:text-white" href = "/cv">Resume Maker!</a>
            <a class="mr-5 hover:text-white" href = "/job_opports">Job Opportunities</a>
            <a class="mr-5 hover:text-white" href = "/login">Login</a>
            <a class="mr-5 hover:text-white" href = "/logout">Logout</a>
            <a class="mr-5 hover:text-white" href ="/contact">Contact</a>
           
          </nav>
          <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Button
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
          <div class="flex w-full mb-20 flex-wrap">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-white lg:w-1/3 lg:mb-0 mb-4">Top 10 Jobs on the planet right now</h1>
            <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">The following sections shows you the most wanted jobs in 2022! So keep scrolling</p>
          </div>
          <div class="flex flex-wrap md:-m-2 -m-1">
            <div class="flex flex-wrap w-1/2">
              <div class="md:p-2 p-1 w-1/2">
                <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://cdn.searchenginejournal.com/wp-content/uploads/2017/06/shutterstock_268688447.jpg">
              </div>
              <div class="md:p-2 p-1 w-1/2">
                <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://www.lighthouselabs.ca/uploads/post/open_graph_image/459/Coding-vs-programming.jpg">
              </div>
              <div class="md:p-2 p-1 w-full">
                <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://imageio.forbes.com/specials-images/dam/imageserve/1147545116/0x0.jpg?format=jpg&width=1200">
              </div>
            </div>
            <div class="flex flex-wrap w-1/2">
              <div class="md:p-2 p-1 w-full">
                <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://s35691.pcdn.co/wp-content/uploads/2021/11/day-picture-id1163588010.jpg">
              </div>
              <div class="md:p-2 p-1 w-1/2">
                <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://miro.medium.com/max/1400/1*c_fiB-YgbnMl6nntYGBMHQ.jpeg">
              </div>
              <div class="md:p-2 p-1 w-1/2">
                <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://cache.careers360.mobi/media/presets/860X430/presets/860X430/article_images/2019/11/1/how-to-become-a-ca-in-india.webp">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-800">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-white">TOP 10 JOBS IN THE WORLD RIGHT NOW</span>
                <span class="mt-1 text-gray-500 text-sm">07-07-2022</span>
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-white title-font mb-2">1.Information Security Analyst</h2>
                <p class="leading-relaxed">Information security analysts are responsible for protecting information in an organization’s computer systems from data breaches and cyberattacks. Since lots of sensitive data is stored electronically these days, including bank account numbers and passwords, these professionals are crucial.<br>
                    Information security analysts may install and maintain firewalls or data encryption software, develop security standards and best practices to protect sensitive information, identify risks and vulnerabilities in an organization’s network systems, and investigate if a data breach occurs.
                </p>
                <a class="text-indigo-400 inline-flex items-center mt-4" href = "https://money.usnews.com/careers/best-jobs/information-security-analyst">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-white">TOP 10 JOBS IN THE WORLD RIGHT NOW</span>
                <span class="mt-1 text-gray-500 text-sm">07-07-2022</span>
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-white title-font mb-2">2.Nurse Practitioner</h2>
                <p class="leading-relaxed">Nurse practitioners are registered nurses with additional education. Extra schooling allows these professionals to take patient histories, perform physical exams, order labs, analyze lab results, prescribe medicines, authorize treatments and educate patients and families on continued care. </p>
                <a class="text-indigo-400 inline-flex items-center mt-4" href = "https://money.usnews.com/careers/best-jobs/nurse-practitioner">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-white">TOP 10 JOBS IN THE WORLD RIGHT NOW</span>
                <span class="mt-1 text-gray-500 text-sm">07-07-2022</span>
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-white title-font mb-2">3.Physician Assistant</h2>
                <p class="leading-relaxed">Physician assistants, also known as physician associates, are ubiquitous in the medical world. They use their medical expertise to examine, diagnose and treat patients, working closely with other health care professionals as a team to provide patient care.</p>
                <a class="text-indigo-400 inline-flex items-center mt-4" href= "https://money.usnews.com/careers/best-jobs/physician-assistant">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-white">TOP 10 JOBS IN THE WORLD RIGHT NOW</span>
                  <span class="mt-1 text-gray-500 text-sm">07-07-2022</span>
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-white title-font mb-2">4.Medical and Health Services Manager</h2>
                  <p class="leading-relaxed">Medical and health services managers are the planners, directors and coordinators who work behind the scenes to keep hospitals, nursing homes, group practices and other health care facilities running efficiently. In short, they are super-organized professionals.
                    Medical and health services managers are usually extremely detail-oriented people with good analytical skills. Because much of their time is spent working with doctors, health insurance representatives and other administrators, they should also have good interpersonal and communication skills. Problem-solving is another part of the job. Technical skills are also a must because these professionals must keep up-to-date with software and electronic health records.

                  </p>
                  <a class="text-indigo-400 inline-flex items-center mt-4" href = "https://money.usnews.com/careers/best-jobs/medical-and-health-services-manager">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
          </div>
          <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
              <span class="font-semibold title-font text-white">TOP 10 JOBS IN THE WORLD RIGHT NOW</span>
              <span class="mt-1 text-gray-500 text-sm">07-07-2022</span>
            </div>
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-white title-font mb-2">5.Software Developer</h2>
              <p class="leading-relaxed">Software developers invent the technologies we sometimes take for granted. For instance, that app that rings, sings or buzzes you out of a deep sleep every morning? A software developer helped design that. And when you roll into the office and turn on your computer, clicking and scrolling through social media, music and your personal calendar – software developers had a big hand in shaping those, too.<br>
                The best software developers are creative and have the technical expertise to carry out innovative ideas. You might expect software developers to sit at their desks designing programs all day – and they do, but their job involves many more responsibilities. They could spend their days working on a client project from scratch and writing new code. But they could also be tasked with maintaining or improving the code for programs that are already up and running.
            <br>Software developers also check for bugs in software. And although the job does involve extreme concentration and chunks of uninterrupted time, software developers have to collaborate with others, including fellow developers, managers or clients. Developers are often natural problem solvers who possess strong analytical skills and the ability to think outside the box.
            <br>Software developers are employed in a range of industries, including computer systems design, manufacturing and finance. The Bureau of Labor Statistics projects 22.2 percent employment growth for software developers between 2020 and 2030. In that period, an estimated 409,500 jobs should open up.
        </p>
              <a class="text-indigo-400 inline-flex items-center mt-4" href = "https://money.usnews.com/careers/best-jobs/software-developer">Learn More
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-white">TOP 10 JOBS IN THE WORLD RIGHT NOW</span>
                  <span class="mt-1 text-gray-500 text-sm">07-07-2022</span>
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-white title-font mb-2">6.Data Scientist </h2>
                  <p class="leading-relaxed">Data scientists use technology to glean insights from large amounts of data they collect. It’s a field that requires statistics, quantitative reasoning and computer programming skills. On top of all that, you need to be a good communicator so you can report your research findings and explain how they address a larger question you’re trying to answer.
                    <br>
                    
“A data scientist really is a scientist at heart,” says Scott Beliveau, chief of the enterprise advanced analytics branch within the U.S. Patent and Trademark Office's Office of the Chief Technology Officer. “But rather than using chemicals or other things, a data scientist uses data – numbers, zeros, sometimes it’s textual information – to try and solve and answer problems.”
                  </p>
                  <a class="text-indigo-400 inline-flex items-center mt-4" href = "https://money.usnews.com/careers/best-jobs/data-scientist">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
                <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                      <span class="font-semibold title-font text-white">TOP 10 JOBS IN THE WORLD RIGHT NOW</span>
                      <span class="mt-1 text-gray-500 text-sm">07-07-2022</span>
                    </div>
                    <div class="md:flex-grow">
                      <h2 class="text-2xl font-medium text-white title-font mb-2">7.Financial Manager</h2>
                      <p class="leading-relaxed">Financial managers have the responsibility of overseeing the finances of major companies, agencies and everything in between. Along with their teams, they coordinate accounting and produce financial reports, cash-flow statements and profit projections. To comply with various laws and regulations, they must pay attention to detail. Aside from working with numbers, financial managers must also help other members of their organization understand their complex reports, which requires significant communication skills.</p>
                      <a class="text-indigo-400 inline-flex items-center mt-4" href = "https://money.usnews.com/careers/best-jobs/financial-manager">Learn More
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M5 12h14"></path>
                          <path d="M12 5l7 7-7 7"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                  <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                      <span class="font-semibold title-font text-white">TOP 10 JOBS IN THE WORLD RIGHT NOW</span>
                      <span class="mt-1 text-gray-500 text-sm">07-07-2022</span>
                    </div>
                    <div class="md:flex-grow">
                      <h2 class="text-2xl font-medium text-white title-font mb-2">8.Statistician</h2>
                      <p class="leading-relaxed">Statisticians practice the science of using data to make decisions. They decide what data they need and how to collect it, design experiments, collect data, analyze and interpret data, and report conclusions. And unlike most professions, statistics can be applied to a vast number of fields or issues, like the environment, public safety, health care and sports. As the famous mathematician and statistician John Tukey once told a colleague, "The best thing about being a statistician is that you get to play in everyone's backyard."</p>
                      <a class="text-indigo-400 inline-flex items-center mt-4" href = "https://money.usnews.com/careers/best-jobs/statistician">Learn More
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M5 12h14"></path>
                          <path d="M12 5l7 7-7 7"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                  <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                      <span class="font-semibold title-font text-white">TOP 10 JOBS IN THE WORLD RIGHT NOW</span>
                      <span class="mt-1 text-gray-500 text-sm">07-07-2022</span>
                    </div>
                    <div class="md:flex-grow">
                      <h2 class="text-2xl font-medium text-white title-font mb-2">9.Lawyer</h2>
                      <p class="leading-relaxed">A lawyer advises and represents individuals or organizations in legal matters. Depending on their specialty and what type of law they practice, a lawyer may represent a client in civil or criminal court, or help a client write a will.</p>
                      <a class="text-indigo-400 inline-flex items-center mt-4" href = "https://money.usnews.com/careers/best-jobs/lawyer">Learn More
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M5 12h14"></path>
                          <path d="M12 5l7 7-7 7"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                  <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                      <span class="font-semibold title-font text-white">TOP 10 JOBS IN THE WORLD RIGHT NOW</span>
                      <span class="mt-1 text-gray-500 text-sm">07-07-2022</span>
                    </div>
                    <div class="md:flex-grow">
                      <h2 class="text-2xl font-medium text-white title-font mb-2">10.Speech-Language Pathologist</h2>
                      <p class="leading-relaxed">Speech-language pathologists evaluate, diagnose and treat people with speech, language or swallowing difficulties. They work with many types of patients, including stroke victims who are relearning to speak, babies who have trouble swallowing, people who speak with a stutter and children with language delays.</p>
                      <a class="text-indigo-400 inline-flex items-center mt-4" href = "https://money.usnews.com/careers/best-jobs/speech-language-pathologist">Learn More
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M5 12h14"></path>
                          <path d="M12 5l7 7-7 7"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                  
              </div>
          </div>
        </div>
      </section>
      <footer class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24"> -->
              <!-- <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path> -->
              <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10" src="https://github.com/sanjay141516/images/blob/main/image.png?raw=true">
            </svg>
            <span class="ml-3 text-xl">RE-LAUNCH</span>
          </a>

          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <!-- <a class="text-gray-400">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a> -->
            <!-- <a class="ml-3 text-gray-400">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a> -->
            <a class="ml-3 text-gray-400" href="https://www.instagram.com/relaunch_ltd/">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <!-- <a class="ml-3 text-gray-400">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a> -->
          </span>
        </div>
      </footer>
  </body>
</html>